/* Base Tokens */
@utility mbg-container-offset-* {
    --mat-badge-container-offset: calc(var(--spacing) * --value(number));
}

@utility mbg-container-overlap-offset-* {
    --mat-badge-container-overlap-offset: calc(var(--spacing) * --value(number));
}

@utility mbg-container-padding-* {
    --mat-badge-container-padding: calc(var(--spacing) * --value(number));
}

@utility mbg-container-shape-* {
    --mat-badge-container-shape: calc(var(--spacing) * --value(number));
}

@utility mbg-container-size-* {
    --mat-badge-container-size: calc(var(--spacing) * --value(number));
}

@utility mbg-large-size-container-offset-* {
    --mat-badge-large-size-container-offset: calc(var(--spacing) * --value(number));
}

@utility mbg-large-size-container-overlap-offset-* {
    --mat-badge-large-size-container-overlap-offset: calc(var(--spacing) * --value(number));
}

@utility mbg-large-size-container-padding-* {
    --mat-badge-large-size-container-padding: calc(var(--spacing) * --value(number));
}

@utility mbg-large-size-container-size-* {
    --mat-badge-large-size-container-size: calc(var(--spacing) * --value(number));
}

@utility mbg-legacy-container-size-* {
    --mat-badge-legacy-container-size: calc(var(--spacing) * --value(number));
}

@utility mbg-legacy-large-size-container-size-* {
    --mat-badge-legacy-large-size-container-size: calc(var(--spacing) * --value(number));
}

@utility mbg-legacy-small-size-container-size-* {
    --mat-badge-legacy-small-size-container-size: calc(var(--spacing) * --value(number));
}

@utility mbg-small-size-container-offset-* {
    --mat-badge-small-size-container-offset: calc(var(--spacing) * --value(number));
}

@utility mbg-small-size-container-overlap-offset-* {
    --mat-badge-small-size-container-overlap-offset: calc(var(--spacing) * --value(number));
}

@utility mbg-small-size-container-padding-* {
    --mat-badge-small-size-container-padding: calc(var(--spacing) * --value(number));
}

@utility mbg-small-size-container-size-* {
    --mat-badge-small-size-container-size: calc(var(--spacing) * --value(number));
}

/* Color Tokens */
@utility mbg-background-color-* {
    --mat-badge-background-color: --value(--color-*);
}

@utility mbg-disabled-state-background-color-* {
    --mat-badge-disabled-state-background-color: --value(--color-*);
}

@utility mbg-disabled-state-text-color-* {
    --mat-badge-disabled-state-text-color: --value(--color-*);
}

@utility mbg-text-color-* {
    --mat-badge-text-color: --value(--color-*);
}

/* Typography Tokens */
@utility mbg-large-size-line-height-* {
    --mat-badge-large-size-line-height: calc(var(--spacing) * --value(number));
}

@utility mbg-large-size-text-size-* {
    --mat-badge-large-size-text-size: calc(var(--spacing) * --value(number));
}

@utility mbg-line-height-* {
    --mat-badge-line-height: calc(var(--spacing) * --value(number));
}

@utility mbg-small-size-line-height-* {
    --mat-badge-small-size-line-height: calc(var(--spacing) * --value(number));
}

@utility mbg-small-size-text-size-* {
    --mat-badge-small-size-text-size: calc(var(--spacing) * --value(number));
}

@utility mbg-text-font-* {
    --mat-badge-text-font: --value(--font-weight-*, integer, [integer]);
}

@utility mbg-text-size-* {
    --mat-badge-text-size: calc(var(--spacing) * --value(number));
}

@utility mbg-text-weight-* {
    --mat-badge-text-weight: --value(--font-weight-*, integer, [integer]);
}