@utility ms-panel-background-color-* {
    --mat-select-panel-background-color: --value(--color-*);
}

@utility ms-enabled-trigger-text-color-* {
    --mat-select-enabled-trigger-text-color: --value(--color-*);
}

@utility ms-disabled-trigger-text-color-* {
    --mat-select-disabled-trigger-text-color: --value(--color-*);
}

@utility ms-placeholder-text-color-* {
    --mat-select-placeholder-text-color: --value(--color-*);
}

@utility ms-enabled-arrow-color-* {
    --mat-select-enabled-arrow-color: --value(--color-*);
}

@utility ms-disabled-arrow-color-* {
    --mat-select-disabled-arrow-color: --value(--color-*);
}

@utility ms-focused-arrow-color-* {
    --mat-select-focused-arrow-color: --value(--color-*);
}

@utility ms-invalid-arrow-color-* {
    --mat-select-invalid-arrow-color: --value(--color-*);
}

@utility ms-trigger-text-font-* {
    --mat-select-trigger-text-font: --value(--font-weight-*, integer, [integer]);
}

@utility ms-trigger-text-line-height-* {
    --mat-select-trigger-text-line-height: calc(var(--spacing) * --value(number));
}

@utility ms-trigger-text-size-* {
    --mat-select-trigger-text-size: calc(var(--spacing) * --value(number));
}

@utility ms-trigger-text-tracking-* {
    --mat-select-trigger-text-tracking: --value(number, [number])rem;
}

@utility ms-trigger-text-weight-* {
    --mat-select-trigger-text-weight: --value(--font-weight-*, integer, [integer]);
}

@utility ms-container-elevation-shadow-* {
    --mat-select-container-elevation-shadow: calc(var(--spacing) * --value(number));
}

@utility ms-arrow-transform-* {
    --mat-select-arrow-transform: calc(var(--spacing) * --value(number));
}