/* Base Tokens */
@utility mb-filled-container-shape-* {
    --mat-button-filled-container-shape: calc(var(--spacing) * --value(number));
}

@utility mb-filled-horizontal-padding-* {
    --mat-button-filled-horizontal-padding: calc(var(--spacing) * --value(number));
}

@utility mb-filled-icon-offset-* {
    --mat-button-filled-icon-offset: calc(var(--spacing) * --value(number));
}

@utility mb-filled-icon-spacing-* {
    --mat-button-filled-icon-spacing: calc(var(--spacing) * --value(number));
}

@utility mb-filled-label-text-transform-* {
    --mat-button-filled-label-text-transform: calc(var(--spacing) * --value(number));
}

@utility mb-filled-touch-target-size-* {
    --mat-button-filled-touch-target-size: calc(var(--spacing) * --value(number));
}

@utility mb-outlined-container-shape-* {
    --mat-button-outlined-container-shape: calc(var(--spacing) * --value(number));
}

@utility mb-outlined-horizontal-padding-* {
    --mat-button-outlined-horizontal-padding: calc(var(--spacing) * --value(number));
}

@utility mb-outlined-icon-offset-* {
    --mat-button-outlined-icon-offset: calc(var(--spacing) * --value(number));
}

@utility mb-outlined-icon-spacing-* {
    --mat-button-outlined-icon-spacing: calc(var(--spacing) * --value(number));
}

@utility mb-outlined-outline-width-* {
    --mat-button-outlined-outline-width: calc(var(--spacing) * --value(number));
}

@utility mb-outlined-label-text-transform-* {
    --mat-button-outlined-label-text-transform: calc(var(--spacing) * --value(number));
}

@utility mb-outlined-touch-target-size-* {
    --mat-button-outlined-touch-target-size: calc(var(--spacing) * --value(number));
}

@utility mb-protected-container-shape-* {
    --mat-button-protected-container-shape: calc(var(--spacing) * --value(number));
}

@utility mb-protected-horizontal-padding-* {
    --mat-button-protected-horizontal-padding: calc(var(--spacing) * --value(number));
}

@utility mb-protected-icon-offset-* {
    --mat-button-protected-icon-offset: calc(var(--spacing) * --value(number));
}

@utility mb-protected-icon-spacing-* {
    --mat-button-protected-icon-spacing: calc(var(--spacing) * --value(number));
}

@utility mb-protected-label-text-transform-* {
    --mat-button-protected-label-text-transform: calc(var(--spacing) * --value(number));
}

@utility mb-protected-touch-target-size-* {
    --mat-button-protected-touch-target-size: calc(var(--spacing) * --value(number));
}

@utility mb-text-container-shape-* {
    --mat-button-text-container-shape: calc(var(--spacing) * --value(number));
}

@utility mb-text-horizontal-padding-* {
    --mat-button-text-horizontal-padding: calc(var(--spacing) * --value(number));
}

@utility mb-text-icon-offset-* {
    --mat-button-text-icon-offset: calc(var(--spacing) * --value(number));
}

@utility mb-text-icon-spacing-* {
    --mat-button-text-icon-spacing: calc(var(--spacing) * --value(number));
}

@utility mb-text-with-icon-horizontal-padding-* {
    --mat-button-text-with-icon-horizontal-padding: calc(var(--spacing) * --value(number));
}

@utility mb-text-label-text-transform-* {
    --mat-button-text-label-text-transform: calc(var(--spacing) * --value(number));
}

@utility mb-text-touch-target-size-* {
    --mat-button-text-touch-target-size: calc(var(--spacing) * --value(number));
}

@utility mb-tonal-container-shape-* {
    --mat-button-tonal-container-shape: calc(var(--spacing) * --value(number));
}

@utility mb-tonal-horizontal-padding-* {
    --mat-button-tonal-horizontal-padding: calc(var(--spacing) * --value(number));
}

@utility mb-tonal-icon-offset-* {
    --mat-button-tonal-icon-offset: calc(var(--spacing) * --value(number));
}

@utility mb-tonal-icon-spacing-* {
    --mat-button-tonal-icon-spacing: calc(var(--spacing) * --value(number));
}

@utility mb-tonal-label-text-transform-* {
    --mat-button-tonal-label-text-transform: calc(var(--spacing) * --value(number));
}

@utility mb-tonal-touch-target-size-* {
    --mat-button-tonal-touch-target-size: calc(var(--spacing) * --value(number));
}

/* Color Tokens */
@utility mb-filled-container-color-* {
    --mat-button-filled-container-color: --value(--color-*);
}

@utility mb-filled-disabled-container-color-* {
    --mat-button-filled-disabled-container-color: --value(--color-*);
}

@utility mb-filled-disabled-label-text-color-* {
    --mat-button-filled-disabled-label-text-color: --value(--color-*);
}

@utility mb-filled-disabled-state-layer-color-* {
    --mat-button-filled-disabled-state-layer-color: --value(--color-*);
}

@utility mb-filled-focus-state-layer-opacity-* {
    --mat-button-filled-focus-state-layer-opacity: --value(--color-*);
}

@utility mb-filled-hover-state-layer-opacity-* {
    --mat-button-filled-hover-state-layer-opacity: --value(--color-*);
}

@utility mb-filled-label-text-color-* {
    --mat-button-filled-label-text-color: --value(--color-*);
}

@utility mb-filled-pressed-state-layer-opacity-* {
    --mat-button-filled-pressed-state-layer-opacity: --value(--color-*);
}

@utility mb-filled-ripple-color-* {
    --mat-button-filled-ripple-color: --value(--color-*);
}

@utility mb-filled-state-layer-color-* {
    --mat-button-filled-state-layer-color: --value(--color-*);
}

@utility mb-outlined-disabled-label-text-color-* {
    --mat-button-outlined-disabled-label-text-color: --value(--color-*);
}

@utility mb-outlined-disabled-outline-color-* {
    --mat-button-outlined-disabled-outline-color: --value(--color-*);
}

@utility mb-outlined-disabled-state-layer-color-* {
    --mat-button-outlined-disabled-state-layer-color: --value(--color-*);
}

@utility mb-outlined-focus-state-layer-opacity-* {
    --mat-button-outlined-focus-state-layer-opacity: --value(--color-*);
}

@utility mb-outlined-hover-state-layer-opacity-* {
    --mat-button-outlined-hover-state-layer-opacity: --value(--color-*);
}

@utility mb-outlined-label-text-color-* {
    --mat-button-outlined-label-text-color: --value(--color-*);
}

@utility mb-outlined-outline-color-* {
    --mat-button-outlined-outline-color: --value(--color-*);
}

@utility mb-outlined-pressed-state-layer-opacity-* {
    --mat-button-outlined-pressed-state-layer-opacity: --value(--color-*);
}

@utility mb-outlined-ripple-color-* {
    --mat-button-outlined-ripple-color: --value(--color-*);
}

@utility mb-outlined-state-layer-color-* {
    --mat-button-outlined-state-layer-color: --value(--color-*);
}

@utility mb-protected-container-color-* {
    --mat-button-protected-container-color: --value(--color-*);
}

@utility mb-protected-container-elevation-shadow-* {
    --mat-button-protected-container-elevation-shadow: --value(--color-*);
}

@utility mb-protected-disabled-container-color-* {
    --mat-button-protected-disabled-container-color: --value(--color-*);
}

@utility mb-protected-disabled-container-elevation-shadow-* {
    --mat-button-protected-disabled-container-elevation-shadow: --value(--color-*);
}

@utility mb-protected-disabled-label-text-color-* {
    --mat-button-protected-disabled-label-text-color: --value(--color-*);
}

@utility mb-protected-disabled-state-layer-color-* {
    --mat-button-protected-disabled-state-layer-color: --value(--color-*);
}

@utility mb-protected-focus-container-elevation-shadow-* {
    --mat-button-protected-focus-container-elevation-shadow: --value(--color-*);
}

@utility mb-protected-focus-state-layer-opacity-* {
    --mat-button-protected-focus-state-layer-opacity: --value(--color-*);
}

@utility mb-protected-hover-container-elevation-shadow-* {
    --mat-button-protected-hover-container-elevation-shadow: --value(--color-*);
}

@utility mb-protected-hover-state-layer-opacity-* {
    --mat-button-protected-hover-state-layer-opacity: --value(--color-*);
}

@utility mb-protected-label-text-color-* {
    --mat-button-protected-label-text-color: --value(--color-*);
}

@utility mb-protected-pressed-container-elevation-shadow-* {
    --mat-button-protected-pressed-container-elevation-shadow: --value(--color-*);
}

@utility mb-protected-pressed-state-layer-opacity-* {
    --mat-button-protected-pressed-state-layer-opacity: --value(--color-*);
}

@utility mb-protected-ripple-color-* {
    --mat-button-protected-ripple-color: --value(--color-*);
}

@utility mb-protected-state-layer-color-* {
    --mat-button-protected-state-layer-color: --value(--color-*);
}

@utility mb-text-disabled-label-text-color-* {
    --mat-button-text-disabled-label-text-color: --value(--color-*);
}

@utility mb-text-disabled-state-layer-color-* {
    --mat-button-text-disabled-state-layer-color: --value(--color-*);
}

@utility mb-text-focus-state-layer-opacity-* {
    --mat-button-text-focus-state-layer-opacity: --value(--color-*);
}

@utility mb-text-hover-state-layer-opacity-* {
    --mat-button-text-hover-state-layer-opacity: --value(--color-*);
}

@utility mb-text-label-text-color-* {
    --mat-button-text-label-text-color: --value(--color-*);
}

@utility mb-text-pressed-state-layer-opacity-* {
    --mat-button-text-pressed-state-layer-opacity: --value(--color-*);
}

@utility mb-text-ripple-color-* {
    --mat-button-text-ripple-color: --value(--color-*);
}

@utility mb-text-state-layer-color-* {
    --mat-button-text-state-layer-color: --value(--color-*);
}

@utility mb-tonal-container-color-* {
    --mat-button-tonal-container-color: --value(--color-*);
}

@utility mb-tonal-disabled-container-color-* {
    --mat-button-tonal-disabled-container-color: --value(--color-*);
}

@utility mb-tonal-disabled-label-text-color-* {
    --mat-button-tonal-disabled-label-text-color: --value(--color-*);
}

@utility mb-tonal-disabled-state-layer-color-* {
    --mat-button-tonal-disabled-state-layer-color: --value(--color-*);
}

@utility mb-tonal-focus-state-layer-opacity-* {
    --mat-button-tonal-focus-state-layer-opacity: --value(--color-*);
}

@utility mb-tonal-hover-state-layer-opacity-* {
    --mat-button-tonal-hover-state-layer-opacity: --value(--color-*);
}

@utility mb-tonal-label-text-color-* {
    --mat-button-tonal-label-text-color: --value(--color-*);
}

@utility mb-tonal-pressed-state-layer-opacity-* {
    --mat-button-tonal-pressed-state-layer-opacity: --value(--color-*);
}

@utility mb-tonal-ripple-color-* {
    --mat-button-tonal-ripple-color: --value(--color-*);
}

@utility mb-tonal-state-layer-color-* {
    --mat-button-tonal-state-layer-color: --value(--color-*);
}

/* Typography Tokens */
@utility mb-filled-label-text-font-* {
    --mat-button-filled-label-text-font: --value(--font-weight-*, integer, [integer]);
}

@utility mb-filled-label-text-size-* {
    --mat-button-filled-label-text-size: calc(var(--spacing) * --value(number));
}

@utility mb-filled-label-text-tracking-* {
    --mat-button-filled-label-text-tracking: --value(number, [number])rem;
}

@utility mb-filled-label-text-weight-* {
    --mat-button-filled-label-text-weight: --value(--font-weight-*, integer, [integer]);
}

@utility mb-outlined-label-text-font-* {
    --mat-button-outlined-label-text-font: --value(--font-weight-*, integer, [integer]);
}

@utility mb-outlined-label-text-size-* {
    --mat-button-outlined-label-text-size: calc(var(--spacing) * --value(number));
}

@utility mb-outlined-label-text-tracking-* {
    --mat-button-outlined-label-text-tracking: --value(number, [number])rem;
}

@utility mb-outlined-label-text-weight-* {
    --mat-button-outlined-label-text-weight: --value(--font-weight-*, integer, [integer]);
}

@utility mb-protected-label-text-font-* {
    --mat-button-protected-label-text-font: --value(--font-weight-*, integer, [integer]);
}

@utility mb-protected-label-text-size-* {
    --mat-button-protected-label-text-size: calc(var(--spacing) * --value(number));
}

@utility mb-protected-label-text-tracking-* {
    --mat-button-protected-label-text-tracking: --value(number, [number])rem;
}

@utility mb-protected-label-text-weight-* {
    --mat-button-protected-label-text-weight: --value(--font-weight-*, integer, [integer]);
}

@utility mb-text-label-text-font-* {
    --mat-button-text-label-text-font: --value(--font-weight-*, integer, [integer]);
}

@utility mb-text-label-text-size-* {
    --mat-button-text-label-text-size: calc(var(--spacing) * --value(number));
}

@utility mb-text-label-text-tracking-* {
    --mat-button-text-label-text-tracking: --value(number, [number])rem;
}

@utility mb-text-label-text-weight-* {
    --mat-button-text-label-text-weight: --value(--font-weight-*, integer, [integer]);
}

@utility mb-tonal-label-text-font-* {
    --mat-button-tonal-label-text-font: --value(--font-weight-*, integer, [integer]);
}

@utility mb-tonal-label-text-size-* {
    --mat-button-tonal-label-text-size: calc(var(--spacing) * --value(number));
}

@utility mb-tonal-label-text-tracking-* {
    --mat-button-tonal-label-text-tracking: --value(number, [number])rem;
}

@utility mb-tonal-label-text-weight-* {
    --mat-button-tonal-label-text-weight: --value(--font-weight-*, integer, [integer]);
}

/* Density Tokens */
@utility mb-filled-touch-target-display-* {
    --mat-button-filled-touch-target-display: calc(var(--spacing) * --value(number));
}

@utility mb-filled-container-height-* {
    --mat-button-filled-container-height: calc(var(--spacing) * --value(number));
}

@utility mb-outlined-container-height-* {
    --mat-button-outlined-container-height: calc(var(--spacing) * --value(number));
}

@utility mb-outlined-touch-target-display-* {
    --mat-button-outlined-touch-target-display: calc(var(--spacing) * --value(number));
}

@utility mb-protected-touch-target-display-* {
    --mat-button-protected-touch-target-display: calc(var(--spacing) * --value(number));
}

@utility mb-protected-container-height-* {
    --mat-button-protected-container-height: calc(var(--spacing) * --value(number));
}

@utility mb-text-touch-target-display-* {
    --mat-button-text-touch-target-display: calc(var(--spacing) * --value(number));
}

@utility mb-text-container-height-* {
    --mat-button-text-container-height: calc(var(--spacing) * --value(number));
}

@utility mb-tonal-container-height-* {
    --mat-button-tonal-container-height: calc(var(--spacing) * --value(number));
}

@utility mb-tonal-touch-target-display-* {
    --mat-button-tonal-touch-target-display: calc(var(--spacing) * --value(number));
}