@utility mts-active-indicator-height-* {
    --mat-tab-active-indicator-height: calc(var(--spacing) * --value(number));
}

@utility mts-active-indicator-shape-* {
    --mat-tab-active-indicator-shape: calc(var(--spacing) * --value(number));
}

@utility mts-divider-height-* {
    --mat-tab-divider-height: calc(var(--spacing) * --value(number));
}

@utility mts-active-focus-indicator-color-* {
    --mat-tab-active-focus-indicator-color: --value(--color-*);
}

@utility mts-active-focus-label-text-color-* {
    --mat-tab-active-focus-label-text-color: --value(--color-*);
}

@utility mts-active-hover-indicator-color-* {
    --mat-tab-active-hover-indicator-color: --value(--color-*);
}

@utility mts-active-hover-label-text-color-* {
    --mat-tab-active-hover-label-text-color: --value(--color-*);
}

@utility mts-active-indicator-color-* {
    --mat-tab-active-indicator-color: --value(--color-*);
}

@utility mts-active-label-text-color-* {
    --mat-tab-active-label-text-color: --value(--color-*);
}

@utility mts-active-ripple-color-* {
    --mat-tab-active-ripple-color: --value(--color-*);
}

@utility mts-divider-color-* {
    --mat-tab-divider-color: --value(--color-*);
}

@utility mts-inactive-focus-label-text-color-* {
    --mat-tab-inactive-focus-label-text-color: --value(--color-*);
}

@utility mts-inactive-hover-label-text-color-* {
    --mat-tab-inactive-hover-label-text-color: --value(--color-*);
}

@utility mts-inactive-label-text-color-* {
    --mat-tab-inactive-label-text-color: --value(--color-*);
}

@utility mts-inactive-ripple-color-* {
    --mat-tab-inactive-ripple-color: --value(--color-*);
}

@utility mts-pagination-icon-color-* {
    --mat-tab-pagination-icon-color: --value(--color-*);
}

@utility mts-disabled-ripple-color-* {
    --mat-tab-disabled-ripple-color: --value(--color-*);
}

@utility mts-background-color-* {
    --mat-tab-background-color: --value(--color-*);
}

@utility mts-foreground-color-* {
    --mat-tab-foreground-color: --value(--color-*);
}

@utility mts-label-text-font-* {
    --mat-tab-label-text-font: --value(--font-weight-*, integer, [integer]);
}

@utility mts-label-text-line-height-* {
    --mat-tab-label-text-line-height: calc(var(--spacing) * --value(number));
}

@utility mts-label-text-size-* {
    --mat-tab-label-text-size: calc(var(--spacing) * --value(number));
}

@utility mts-label-text-tracking-* {
    --mat-tab-label-text-tracking: --value(number, [number])rem;
}

@utility mts-label-text-weight-* {
    --mat-tab-label-text-weight: --value(--font-weight-*, integer, [integer]);
}

@utility mts-container-height-* {
    --mat-tab-container-height: calc(var(--spacing) * --value(number));
}